body{
  background-color: rgb(202, 255, 123);
}

.App {
  text-align: center;
  margin-top:2rem;
}

.screen-display{
  display:flex;
  width:20rem;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  height:40px;
  border:solid black;
  font-size:30px;
  margin-top:3rem;
  margin-bottom:1.5rem;
}

.buttons-container {
  display:flex;
  background-color:rgb(255, 196, 0);
  border:1px solid rgb(255, 196, 0);
  border-radius:25px;
  align-items:center;
  width:20rem;
  margin-left:auto;
  margin-right:auto;
  
}

.buttons{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap:0.5rem;
  grid-column-gap:0.5rem;
  margin-left:auto;
  margin-right:auto;
  margin-top:1rem;
  margin-bottom:1rem;
}

.buttons-container button{
  border:1px solid black;
  background-color: rgb(121, 227, 241);
  width:3.5rem;
  height:3.5rem;
  font-size:32px;
}

.display-2{
  margin-top: 3rem;
  margin-bottom:3rem;
}

.list-display{
  display:flex;
  align-items: center;
  margin-left:auto;
  margin-right:auto;  
  border:solid black;
  height:40px;
  font-size:30px;
  margin-bottom:1rem;
}

.num-list-display {
  display:flex;
  align-items: center;
  margin-left:auto;
  margin-right:auto;  
  border:solid black;
  height:40px;
  font-size:30px;
  margin-bottom:1rem;
}

.mul-list-display{
  display:flex;
  align-items: center;
  margin-left:auto;
  margin-right:auto;  
  border:solid black;
  height:40px;
  font-size:30px;
  margin-bottom:1rem;
}